<!DOCTYPE html>
<!-- Header -->
{% include "_header.html" %}
{% load tags %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Insurance Exchange</title>
</head>
<body>
<div class="container py-5">
    <!-- Search -->
    <form class="form-inline" method="GET">
        <label class="sr-only" for="query">Search</label>
        <input type="text" class="col-8 input-group mb-2 mr-sm-2" id="query" name="query" placeholder="Search"
               value="{{ request.GET.query|default_if_none:'' }}">
        <button type="submit" class="col-3 btn btn-light mb-2">Search</button>

        <label class="sr-only" for="sort">Sort</label>
        <select class="form-control mb-2 mr-sm-2" id="sort" name="sort" onchange="this.form.submit()">
            {% if request.GET.sort == None %}
            <option disabled selected value style="display:none">Sort by: Featured</option>
            {% endif %}
            {% for value, name in sorting %}
            {% if request.GET.sort == value %}
            <option value="{{ value }}" selected>{{ name }}</option>
            {% else %}
            <option value="{{ value }}">{{ name }}</option>
            {% endif %}
            {% endfor %}
        </select>

        <label class="sr-only" for="type">Type</label>
        <select class="form-control mb-2 mr-sm-2" id="type" name="type" onchange="this.form.submit()">
            {% if request.GET.type == None %}
            <option disabled selected value style="display:none">Type</option>
            {% endif %}
            {% for value, name in types %}
            {% if value == request.GET.type|add:"0" %}
            <option value="{{ value }}" selected>{{ name }}</option>
            {% else %}
            <option value="{{ value }}">{{ name }}</option>
            {% endif %}
            {% endfor %}
        </select>

        <label class="sr-only" for="validity">Validity</label>
        <select class="form-control mb-2 mr-sm-2" id="validity" name="validity" onchange="this.form.submit()">
            {% if request.GET.validity == None %}
            <option disabled selected value style="display:none">Validity</option>
            {% endif %}
            {% for value, name in validities %}
            {% if value == request.GET.validity|add:"0" %}
            <option value="{{ value }}" selected>{{ name }}</option>
            {% else %}
            <option value="{{ value }}">{{ name }}</option>
            {% endif %}
            {% endfor %}
        </select>

        <label class="sr-only" for="company">Company</label>
        <select class="form-control mb-2 mr-sm-2" id="company" name="company" onchange="this.form.submit()">
            {% if request.GET.company == None %}
            <option disabled selected value style="display:none">Company</option>
            {% endif %}
            {% for value, name in companies %}
            {% if value == request.GET.company|add:"0" %}
            <option value="{{ value }}" selected>{{ name }}</option>
            {% else %}
            <option value="{{ value }}">{{ name }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </form>
    <!-- Services -->
    {% if services|length > 0 %}
    <h5 class="font-weight-bold">Found {{ found }} services</h5>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Validity</th>
            <th scope="col">Type</th>
            <th scope="col">Price</th>
            <th scope="col">Company</th>
        </tr>
        </thead>
        <tbody>
        {% for service in services %}
        <tr>
            <td><a href="{% url 'InsuranceApp:service' service.id %}">{{ service.title }}</a></td>
            <td>{{ service.validity.name }}</td>
            <td>{{ service.type.name }}</td>
            <td>${{ service.price|floatformat }}</td>
            <td>{{ service.company.name }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        {% if services.has_previous %}
        <li class="page-item"><a class="page-link" href="?{% param_replace page=1 %}">&laquo; 1</a></li>
        <li class="page-item">
            <a class="page-link" href="?{% param_replace page=services.previous_page_number %}">Previous</a>
        </li>
        {% endif %}
        <li class="page-link text-dark">{{ services.number }} of {{ services.paginator.num_pages }}</li>
        {% if services.has_next %}
        <li class="page-item">
            <a class="page-link" href="?{% param_replace page=services.next_page_number %}">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?{% param_replace page=services.paginator.num_pages %}">
                {{ services.paginator.num_pages }} &raquo;
            </a>
        </li>
        {% endif %}
    </ul>
    {% else %}
    <h4>There are no services at the moment</h4>
    {% endif %}
</div>
</body>
</html>