<!DOCTYPE html>
{% load crispy_forms_tags %}

<!-- Header -->
{% include "_header.html" %}
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>

<!-- Register -->
{% if user.is_authenticated %}
<div class="container py-5">
    <h3 class="text-center">You are logged in!</h3>
</div>
{% else %}
<div class="container py-5">
    <h1>Register</h1>
    <form method="POST">
        {% csrf_token %}
        {{ register_form|crispy }}
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    <p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>
{% endif %}

<!-- Footer -->
{% include "_footer.html" %}
</body>
</html>