<!DOCTYPE html>
<!-- Header -->
{% include "_header.html" %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Responses</title>
</head>
<body>
<!--Responses-->
<div class="container py-5">
    {% if page_obj|length > 0 %}
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Date</th>
            <th scope="col">Service</th>
        </tr>
        </thead>
        <tbody>
        {% for response in page_obj %}
        <tr>
            <td>{{ response.full_name }}</td>
            <td>{{ response.email }}</td>
            <td>{{ response.phone }}</td>
            <td>{{ response.birth_date }}</td>
            <td>{{ response.response_date }}</td>
            <td><a href="{% url 'InsuranceApp:service' response.service.id %}">{{ response.service.title }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; 1</a></li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% endif %}
        <li class="page-link text-dark">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                {{ page_obj.paginator.num_pages }} &raquo;
            </a>
        </li>
        {% endif %}
    </ul>
    {% else %}
    <h4>There are no responses at the moment</h4>
    {% endif %}
</div>
</body>
</html>