<!DOCTYPE html>
{% load crispy_forms_tags %}

<!-- Header -->
{% include "_header.html" %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<!-- Login -->
<div class="container py-5">
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        {{ login_form|crispy }}
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
    <p class="text-center">Don't have an account? <a href="{% url 'InsuranceApp:register' %}">Create an account</a>.</p>
</div>
</body>
</html>